* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f4f4;
}

.main-login {
  height: 100vh;
  width: 100vw;
}

.hero-body {
  left: 22px;
  bottom: 38px;
}

.active {
  color: #fff !important;
  background: #5a8dee !important;
}

.btn-custom-export {
  border-radius: 5px;
  background: #e5edfc;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn-custom-export:hover {
  background: #dce6f9;
}

th {
  background-color: #6f919f !important;
  color: white !important;
  font-size: 12px;
}

.table-button {
  color: white;
  min-width: 92px;
  font-size: 12px;
}

.fade {
  background: #d4d8dd79;
}

.fs-custom {
  font-size: 14px;
}

.time-icon {
  right: 12px;
}

